<html lang="en">
  <head>
    <meta charset="utf-8">
    <title href="{{url_for("more")}}">LEARN MORE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/more.css') }}">
  </head>
  <body>
    <a id="profile-link" href="{{ url_for('profile')}}">PROFILE</a>
    <a id="logout-link" href="{{ url_for('logout')}}">LOGOUT</a>
    <div>
    <h1>GREEN TREE PYTHONS</h1>
    </div>
    <div>
     <a id="source-link">SOURCE: https://animalia.bio/green-tree-python</a>
    </div>
    <div id="snake-image"></div>
    <div>
<ul>
    <li>POPULATION SIZE:
    UNKNOWN</li>
        <li>LIFE SPAN:
            12-20 YRS</li>
                <li>WEIGHT:
                    1100-1600 G</li>
                        <li>LENGTH:
                            1.5-2 M</li>
</ul>
    </div>
<div>
    <p>
        The Green tree python is a nonvenomous snake native to New Guinea, islands in Indonesia, and Australia. 
        As its name suggests, it is a bright green snake, with females slightly larger and heavier than males. The belly of these snakes is yellowish in color and some individuals may have small white markings along the back. 
        Green tree pythons are characterized by a relatively slim body and a long tail which is about 14% of the total length. Their tail is prehensile and the hook on the end of the tail is called a caudal luring.
        <br>
        <br>
        Green tree pythons are found in Indonesia (Misool, Salawati, Aru Islands, Schouten Islands, most of Western New Guinea), Papua New Guinea (including Normanby Island and the d'Entrecasteaux Islands) and Australia (Queensland along the 
        east coast of the Cape York Peninsula). They live in tropical rainforests, monsoon forests, thickets of bamboo and forest margins with bushes and shrubs.
        <br>
        <br>
        Habits and Lifestyle-
        Green tree pythons are arboreal and lead a solitary life. Most of their time is spent up in trees coiled around branches. These snakes have a particular way of resting in the branches of trees; they loop a coil or two over the branches in a saddle position 
        and place their head in the middle. Green tree pythons are primarily nocturnal hunters. They capture prey by holding onto a branch using the prehensile tail and striking out from an S-shaped position and constricting the prey. Wild specimens have also been observed wrapped 
        around the base of small tree trunks, facing down in an ambush position, waiting for ground mammals to prey upon as they pass by. Green tree pythons may also hunt their prey on the ground using their labial pits and acute sight.
    </p>
</div>
<div id="snake-image2"></div>

<div id="map-image"></div>