<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Store</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/store.css') }}">
   </head>
   <body>
      <div>
         <a id="profile-link" href="{{ url_for('profile') }}">PROFILE</a>
      </div>
      <div id="store" href="{{ url_for('store') }}">STORE</div>
      <div id="coming-soon"> COMING SOON </div>
      <div id="one"> HIGH SCORE:100 UPGRADE SNAKES</div>
      <img id="img1" src="https://www.phanxgames.com/images/monsters/snake.gif">
      <div id="two"> HIGH SCORE:150 UPGRADE PIPES</div>
      <img id="img2" src="http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/0bf9221ab5b3bb8.png">
      <div id="three"> HIGH SCORE:200 UPGRADE MAPS</div>
      <img id="img3" src="https://64.media.tumblr.com/f0ef821dfa23f9031d0a508fcd5e2ade/tumblr_pgs176RTVX1rbjn8io1_640.gifv">
      <div id="four"> HIGH SCORE:250 UPGRADE CHARACTER</div>
      <img id="img4" src="https://66.media.tumblr.com/tumblr_ma10rhHWYb1rfjowdo1_r1_500.gif">
      <div id="five"> HIGH SCORE:300</div>
      <div id="six"> HIGH SCORE:350</div>
      <div id="seven"> HIGH SCORE:400</div>
      <div id="eight"> HIGH SCORE:450</div>
   </body>
</html>
  